<%- include('./includes/head') %>
<%- include('./includes/nav') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 mt-4">
      <h1 class="text-center">Contatos</h1>
      <h2 class="text-center">Olá <%= user.name %></h2>
      <p class="text-center lead mb-4">Crie ou edite seus contatos abaixo</p>

      <%- include('./includes/messages') %>

      <% if(contato._id) { %>
      <form action="/contato/edit/<%= contato._id %>" method="POST">
        <% } else { %>
        <form action="/contato/register" method="POST">
          <% } %>
          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input value="<%= contato.nome %>" type="text" name="nome" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Sobrenome</label>
            <input value="<%= contato.sobrenome %>" type="text" name="sobrenome" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input value="<%= contato.email %>" type="email" name="email" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Telefone</label>
            <input value="<%= contato.telefone %>" type="tel" name="telefone" class="form-control">
          </div>
          <div class="d-flex justify-content-center align-items-end">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
    </div>
    </form>
  </div>
</div>

<%- include('./includes/footer') %>